* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #322c2c;
  color: azure;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding: 5vh 0vh;
  width: 100%;
  z-index: 100;
}
nav a {
  margin: 2vh;
  margin-right: 10%;
  transition: -webkit-transform 1s, transform 1s;
  transform: scale(1);
}
nav a:hover,
nav a:focus {
  color: aqua;
  -webkit-transform: scale(2);
  transform: scale(2);
}

a {
  color: aliceblue;
  text-decoration: none;
}

h1 {
  margin: 5%;
  margin-top: 20%;
}
.index {
  margin-top: 18%;
}
.blog-box {
  margin: 2%;
  width: 80%;
  padding: 3%;
  border: #000 1px solid;
  border-radius: 25px;
  background-color: #000;
  transition: transform 0.2s;
  transform: scale(1);
}
.blog-box:hover {
  transform: scale(1.05);
}
.box-h3 {
  font-size: 2rem;
  margin-bottom: 3%;
}
.box-p {
  font-size: 1.1rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 2px;
  padding-left: 40%;
}
form {
  margin: 5%;
}
label {
  margin-bottom: 0.3rem;
}
input,
textarea {
  margin-bottom: 5%;
  margin-top: 1%;
  width: 60%;
  padding: 0.5%;
  overflow: hidden;
}

textarea {
  resize: none;
  height: 15vh;
}
form button {
  padding: 1% 2%;
  background-color: blanchedalmond;
  border-radius: 7px;
  border: black 3px solid;
}

.about {
  margin: 1.5% 5%;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}

#del {
  cursor: pointer;
}
