<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1>
      <b><u>HARI BHAI BLOGS</u></b>
    </h1>
    <p class="about">
      Welcome to HARI BHAI BLOGS, where ideas come alive and stories find their
      voice! This blog is a space to explore, learn, and share thoughts on
      everything from technology to lifestyle, personal growth, and beyond.
      Whether you are here to find helpful tips, fresh perspectives, or just
      some light reading, we have got something for everyone.
    </p>
    <p class="about">
      At HARI BHAI BLOGS, we believe in keeping things real, relatable, and
      engaging. Every post is written with care, aiming to inform, inspire, and
      occasionally bring a smile to your face.
    </p>
    <p class="about">
      Our growing community of curious minds, and let us explore the world one
      blog post at a time. Got ideas or feedback? We would love to hear from
      you—this is your space as much as ours. Thanks for stopping by, and happy
      reading!
    </p>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
