<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>CREATE YOUR BLOG HERE</h1>
    <form action="/blogs" method="post">
      <label for="title">Enter the title of the blog post</label><br />
      <input type="text" name="title" maxlength="30" /><br />
      <label for="snippet">Enter the snippet</label><br />
      <input type="text" name="snippets" /><br />
      <label for="content">Enter the body of the blog post</label><br />
      <textarea
        type="text"
        name="body"
        oninput="autoResize.call(this)"
      ></textarea
      ><br />
      <button type="submit"><strong>SUBMIT</strong></button>
    </form>
    <script>
      function autoResize() {
        this.style.height = "auto";
        this.style.height = this.scrollHeight + "px";
      }
    </script>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
